<div class="page-header">
    <h2>All users</h2>
</div>

<div class="user-list-container"
     ng-controller="AdminCtrl as admCtrl">

    <div class="alert alert-danger"
         ng-bind="admCtrl.errorMessage"
         ng-show="admCtrl.errorMessage"></div>
    
    <div ng-repeat="user in admCtrl.users">
        <div class="user-info row">
            <div class="col-lg-1">
                {{$index + 1}}
            </div>
            <div class="col-lg-3">
                {{user.name}}
            </div>
            <div class="col-lg-3">
                {{user.lastName}}
            </div>
            <div class="col-lg-3">
                {{user.email}}
            </div>
            <div class="col-lg-2" ng-show="user.isAdmin">
                Admin
            </div>
            <div class="col-lg-2" ng-show="!user.isAdmin">
                User
            </div>
        </div>
    </div>  
</div>